*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
#canvasColor {
    z-index: 998;
   opacity:1;
   background: red;
   }

   #btn{
       z-index: 10000;
       position: absolute;
       top: 0;
       left: 0;
   }